* {
  scrollbar-color: rgb(191, 255, 0) rgb(0, 0, 0);
  scrollbar-width: thin;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}
nav {
    position: relative;
    margin-top: 0.5vw;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    color: #ffffff;
    z-index: 1000;
    transition: top 0.3s;
}
nav img {
    height: 4vw;
    margin-left: 1vw;
}
nav ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    float: right;
    margin-right: 3vw;
    /* margin-top: -2vw; */
}
nav li {
    float: left;
}
nav li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
nav li a:hover {
    color: #6d6d6d;
}
.hidden {
    top: -60px;
}

.slider{
    background-image: url('images/scroll-img1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 100vw;
    height: 90.12vh;
}
.text {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-size: 5vw;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    z-index: 1;
}
.text1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-size: 2vw;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    z-index: 1;
}

.blue-filter {
    position: absolute;
    top: 4.6vw;
    left: 0;
    width: 99.9vw;
    height:90.12vh;
    background-color: rgba(5, 23, 125, 0.514); /* Adjust the opacity and color as needed */
    z-index: 0;
}

.schedule{
    display: flex;
}
.left-line{
    margin-top: 6vw;
    margin-left: 4vw;
    height: 0.2vw;
    width: 28vw;
    background: linear-gradient(112deg, rgba(2,0,36,1) 0%, rgba(0,0,0,1) 42%, rgba(127,127,130,1) 100%, rgba(0,0,0,1) 100%, rgba(0,212,255,1) 100%);
}

.page-2-header{
    font-size: 4vw;
    margin-top: 4vw;
    margin-left: 5vw;
    margin-right: 2vw;
    /* background-color: red; */
}

.right-line{
    margin-top: 6vw;
    margin-left: 2vw;
    height: 0.2vw;
    width: 28vw;
    background: linear-gradient(112deg, rgba(255,255,255,1) 0%, rgba(173,173,173,1) 0%, rgba(0,0,0,1) 50%, rgba(0,0,0,1) 100%, rgba(0,212,255,1) 100%);
}

.group-3,
.group-3 * {
    box-sizing: border-box;
}
.group-3 {
    width: 16px;
    height: 445px;
    position: relative;
    overflow: visible;
    margin-top: 3vw;
}

.timeline{
    margin-top: -5vw;
    width: 100%;
    height: 90vh;
    .first-row{
        display: flex;
        margin-top: 5vw;
        gap: 3vw;
        margin-left: 21.99vw;
        transition: margin-right 2s ease-in-out .5;
        .box{
            width: 23vw;
            height: 5vw;
            background-color: #E03434;
            border-radius: 0.5vw;
            p{
                margin-top: 1.5vw;
                text-align: center;
                font-size: 1.7vw;
                color: white;
            }
        }
        .circle{
            margin-top: 1.6vw;
            width: 0.8vw;
            height: 0.8vw;
            background-color: black;
            border-radius: 50%
        }
        .text2{
            margin-top: -0.9vw;
            p{
                margin-top: 1.5vw;
                font-size: 1.1vw;
            }
        }
    };
    .line{
        width: 0.2vw;
        height: 9vw;
        background-color: black;
        margin-left: 48.3vw;
        margin-top: -3.4vw;
    }
    .second-row{
        display: flex;
        margin-top: -0.8vw;
        gap: 3vw;
        margin-left: 37.7vw;
        .box{
          margin-top: -1vw;
          width: 23vw;
          height: 5vw;
          background-color: #E03434;
          border-radius: 0.5vw;
          p{
              margin-top: 1.5vw;
              text-align: center;
              font-size: 1.7vw;
              color: white;
          }
        }
        .circle{
            margin-top: 0.8vw;
            width: 0.8vw;
            height: 0.8vw;
            background-color: black;
            border-radius: 50%
        }
        .text2{
            margin-top: -0.9vw;
            p{
                margin-top: 1.5vw;
                font-size: 1.1vw;
            }
        }
    };
    .first-row1{
        display: flex;
        margin-top: -0.9vw;
        gap: 3vw;
        margin-left: 21.99vw;
        .box{
          margin-top: -1vw;
          width: 23vw;
          height: 5vw;
          background-color: #E03434;
          border-radius: 0.5vw;
            p{
              margin-top: 1.5vw;
              text-align: center;
              font-size: 1.7vw;
              color: white;
            }
        }
        .circle{
            margin-top: 0.8vw;
            width: 0.8vw;
            height: 0.8vw;
            background-color: black;
            border-radius: 50%
        }
        .text2{
            margin-top: -0.9vw;
            p{
                margin-top: 1.5vw;
                font-size: 1.1vw;
                /* color: red; */
            }
        }
    };
}

/*================================animations================================*/
.reveal{
  position: relative;
  transform: translateX(10vw);
  opacity: 0;
  transition: all ease-out 1s;
}

.reveal.active{
  transform: translateX(0px);
  opacity: 1;
}
/*================================animations================================*/
.timer-out-box{
  position: relative;
  width: 70vw;
  height: 18vw;
  background-color: black;
  margin-left: 15vw;
  border-radius: 0.7vw;
  box-shadow: 10px 10px 60px rgb(200, 255, 0);
  .timer-header{
    color: yellow;
    margin-left: 0.5vw;
    font-size: 2vw;
  }
  .timer{
    display: flex; 
    gap: 4vw; 
    margin-top: -3.5vw;
  }
}
.this-is-main-name{
  display: flex; 
  gap: 3vw; 
  margin-left: 10vw;
}
.glass-morphism {
  margin-top: 4vw;
  margin-left: 1vw;
  width: 10vw;
  height: 9vw;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 0.7vw;
  border: 2px solid rgb(195, 255, 0);
  /* padding: 20px; */
  box-shadow: 0 0 10px rgba(183, 255, 0, 0.1);
  h1{
    font-size: 2vw;
    text-align: center;
    color: white;
  }
  p{
    font-size: 1.7vw;
    text-align: center;
    margin-top: 1vw;
    color: white;
  }
}

.line-timer{
  width: 10vw;
  height: 0.1vw;
  background-color: white;
}

.themes-page{
  display: flex;
  margin-left: 3vw;
}

.left-line{
  margin-top: 6vw;
  margin-left: 4vw;
  height: 0.2vw;
  width: 28vw;
  background: linear-gradient(112deg, rgba(2,0,36,1) 0%, rgba(0,0,0,1) 42%, rgba(127,127,130,1) 100%, rgba(0,0,0,1) 100%, rgba(0,212,255,1) 100%);
}

.page-3-header{
  font-size: 4vw;
  margin-top: 4vw;
  margin-left: 5vw;
  margin-right: 2vw;
  /* background-color: red; */
}

.right-line{
  margin-top: 6vw;
  margin-left: 2vw;
  height: 0.2vw;
  width: 28vw;
  background: linear-gradient(112deg, rgba(255,255,255,1) 0%, rgba(173,173,173,1) 0%, rgba(0,0,0,1) 50%, rgba(0,0,0,1) 100%, rgba(0,212,255,1) 100%);
}

.themes{
  width: 100%;
  height: 172vh;
  background-color: #e0dfdf;
}

.slots-for-themes{
  width: 58.45vw;
  height: 30.7vw;
  /* background-color: red; */
  margin-left: 20vw;
  display: flex;
}

.theme-one{
  width: 20vw;
  height:30.7vw;
  /* background-color: rgb(84, 84, 84); */
  .image-div{
    width: 14.63vw;
    height: 12vw;
    background-image: url("https://imgs.search.brave.com/vIUwZAgyYTjAcw8HfyaGltgAApHBzoJaAbyGs0doU6E/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9pbWFn/ZXMudW5zcGxhc2gu/Y29tL3Bob3RvLTE1/NTYzNDE5ODQtNjlj/OTNmNjM2NjE4P3E9/ODAmdz0xMDAwJmF1/dG89Zm9ybWF0JmZp/dD1jcm9wJml4bGli/PXJiLTQuMC4zJml4/aWQ9TTN3eE1qQTNm/REI4TUh4elpXRnlZ/Mmg4T0h4OGRISmhi/bk50YVhOemFXOXVK/VEl3YkdsdVpYeGxi/bnd3Zkh3d2ZIeDhN/QT09");
    background-size: cover;
  }
  .text-div{
    margin-top: -0.99vw;
    width: 14.65vw;
    height:18.77vw;
    background-color: white;
    h3{
      margin-left: 1vw;
      text-align: justify;
      margin-right: 1vw;
      padding-top: 3.5vw;
      font-size: 1vw;
    }
  }
}

.theme-two{
  margin-top: 6vw;
  width: 20vw;
  height:30.7vw;
  background-color: #156E9E;
  .image-div{
    width: 14.65vw;
    height: 12vw;
    background-image: url("https://imgs.search.brave.com/TxUUuSpiF3jZ3Vzk7HyFb9LlvbHgB_S-Hu4JvQpPocY/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9pbWcu/ZnJlZXBpay5jb20v/cHJlbWl1bS1waG90/by9zdW5zZXQtd2l0/aC1wb3dlci1saW5l/cy1wb3dlci1saW5l/c184Nzg4MDgtMjkx/OC5qcGc_c2l6ZT02/MjYmZXh0PWpwZw");
    background-size: cover;
  }
  .text-div{
    margin-top: -0.99vw;
    width: 14.65vw;
    height:18.77vw;
    background-color: #156E9E;
    h3{
      margin-left: 1vw;
      text-align: justify;
      margin-right: 1vw;
      padding-top: 3.5vw;
      font-size: 1vw;
    }
  }
}

.theme-three{
  width: 20vw;
  height:30.7vw;
  background-color: white;
  .image-div{
    width: 14.65vw;
    height: 12vw;
    background-image:url("https://imgs.search.brave.com/R3B-ezanX24bcD5kcB-RjqYglpJlE-vCuLeHUdFTSiA/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9pbWcu/ZnJlZXBpay5jb20v/ZnJlZS1waG90by9h/dG9tLXNjaWVuY2Ut/YmlvdGVjaG5vbG9n/eS1ibHVlLW5lb24t/Z3JhcGhpY181Mzg3/Ni0xNjcyOTcuanBn/P3NpemU9NjI2JmV4/dD1qcGc");
    background-size: cover;
  }
  .text-div{
    margin-top: -0.99vw;
    width: 14.65vw;
    height:18.77vw;
    background-color: white;
    h3{
      margin-left: 1vw;
      text-align: justify;
      margin-right: 1vw;
      padding-top: 3.5vw;
      font-size: 1vw;
    }
  }
}

.theme-four{
  margin-top: 6vw;
  width: 20vw;
  height:30.7vw;
  background-color: #156E9E;
  .image-div{
    width: 14.65vw;
    height: 12vw;
    background-image:url("https://imgs.search.brave.com/mQgGMnFqQsLTICGlytt57kv-BrslihXuc8LndfxY9kU/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS5pc3RvY2twaG90/by5jb20vaWQvMTk1/NzQ1ODUzOS9waG90/by9yZW5ld2FibGUt/ZW5lcmd5LXN5c3Rl/bXMtZW5naW5lZXJp/bmcud2VicD9iPTEm/cz0xNzA2NjdhJnc9/MCZrPTIwJmM9RHZS/ZGlKYlJvTmR3OGtZ/cHdSSVRsaHoxTVMy/aDQ5TEJxRWxycEdl/Z2RxZz0");
  }
  .text-div{
    margin-top: -0.99vw;
    width: 14.65vw;
    height:18.77vw;
    background-color: #156E9E;
    h3{
      margin-left: 1vw;
      text-align: justify;
      margin-right: 1vw;
      padding-top: 3.5vw;
      font-size: 1vw;
    }
  }
}

.slots-for-themes2{
  margin-top: 0vw;
  width: 58.45vw;
  height: 30.7vw;
  /* background-color: red; */
  margin-left: 20vw;
  display: flex;
}



.glass-morphism1{
  margin-top: 4vw;
  margin-left: 1vw;
  width: 15vw;
  height: 12vw;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 0.7vw;
  border: 0.22vw solid rgba(163, 199, 47, 0);
  /* padding: 20px; */
  box-shadow: 10px 10px 70px rgb(153, 255, 0);
  animation: floater 1.5s infinite;

  h1{
    color: black;
    font-size: 1.6vw;
    text-align: center;
  }
  p{
    text-align: center;
    color: black;
    font-size: 1.7vw;
    margin-top: 2vw;
    font-weight: bolder;
  }

}

.first-place-h1{
  font-size: 2vw; 
  margin-top: 2.5vw; 
}

.second-place-h1{
  font-size: 2vw; 
  margin-top: 2.5vw;
}

.glass1{
  margin-left: 6vw;
}

.prizes{
  width: 100vw;
  height: 100vh;
  background-image: url('images/prizes_bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  
}

.this-is-prizes{
  margin-top: -5vw;
  display: flex;
  gap: 8vw;
}

@keyframes floater {
  0%{transform: translateY(-1%);transition: ease 0.3s;}
  50%{transform: translateY(3%);transition: ease 0.3s;}
  75%{transform: translateY(2%);transition: ease 0.3s;}
  100%{transform: translateY(-1%);transition: ease 0.1s;}
}


.bottom-prizes{
  margin-top: 2vw;
  display: flex;
}
.bottom-prizes-left{
  display: flex;
  margin-left: 10vw;
  margin-top: 3vw;
  .number-4 p{
    margin-top: -3vw;
    font-size: 20vw;
    color: rgb(200, 255, 0);
    text-shadow: 8px 8px 1px rgb(0, 0, 0);;
  }
  .positions p{
    margin-left: 1.5vw;
    font-size: 3vw;
  }
}

.bottom-prizes-right{
  margin-left: 10vw;
  margin-top: 6vw;
  font-size: 2vw;
  font-family: cursive;
  span{
    color: rgb(200, 255, 0);
    font-size: 3vw;
    text-shadow: 5px 5px 10px rgb(0, 0, 0);
  }
  
}

.faq{
  width: 100vw;
  height: auto;
  background-color: rgb(255, 255, 255);
  padding-bottom: 5vw;
  .this-is-main-name{
    display: flex; 
    gap: 3vw; 
    margin-left: 13vw;
    h1{
      font-size: 3vw;
    }
  }
}

.question-bar{
  position: relative;
  width: 60vw;
  height: 3vw;
  background-color: rgba(0, 0, 0, 0.109);
  margin-left: 20vw;
  margin-top: 2vw;
  border-radius: 0.4vw;
  p{
    padding-top:  1vw;
    padding-left: 1vw;
    font-size: 0.95vw;
  }
}

.answer-bar-1{
  position: relative;
  width: 60vw;
  height: 8vw;
  background-color: rgba(0, 0, 0, 0.109);
  margin-left: 20vw;
  margin-top: 0.2vw;
  border-radius: 0.4vw;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;

  p{
    padding-top:  1vw;
    padding-left: 1vw;
    font-size: 0.95vw;
    line-height: 1.5vw;
  }
}

.cross-1{
  width: 1vw;
  height: 0.1vw;
  background-color: rgb(0, 0, 0);
  margin-left: 57vw;
  margin-top: -1.5vw;
  position: relative;
}

.cross-2{
  width: 1vw;
  height: 0.1vw;
  background-color: rgb(0, 0, 0);
  margin-left: 57.01vw;
  margin-top: -0.1vw;
  transform: rotate(90deg);
  transition: 0.5s;
}

.footer{
  position: absolute;
  width: 100vw;
  height: 60vh;
  background-color: rgb(35, 35, 35);
}

.footer-text1{
  margin-left: 5vw;
  color: white;
  margin-top: 5vw;
}

.footer-text2{
  margin-left: 5vw;
  color: white;
  margin-top: 2vw;
}

.input-text{
  margin-left: 5vw;
  border: none;
  background-color: none;
  background: none;
  margin-top: 0.5vw;
}

.line-for-input{
  margin-left: 5.11vw;
  width: 9vw;
  height: 0.1vw;
  background-color: white;
}

.footer-button{
  margin-left: 5vw;
  margin-top: 2vw;
  width: 7vw;
  height: 2.5vw;
  font-size: 1.2vw;
  border-radius: 0.3vw;
  border: none;
}

.left-most-part input{
  color: rgb(110, 110, 110);
  font-size: 0.8vw;
}

.left-most-part input::placeholder{
  font-size: 0.7vw;
  color: white;
}

.left-most-part input:focus{
  outline: none; 
}

.second-part-footer{
  margin-top: 6vw;
  h2{
    color: white;
  }
}

.third-part-footer{
  margin-top: 6vw;
  h3{
    color: white;
  }
}

.fourth-part-footer{
  margin-top: 6vw;
  h3{
    color: white;
  }
}

.fifth-part-footer{
  margin-top: 6vw;
  h3{
    color: white;
  }
}

.sixth-part-footer{
  margin-top: 6vw;
  h3{
    color: white;
  }
}

.line-for-footer-at-the-end{
  width: 70vw;
  height: 0.05vw;
  background-color: white;
  margin-left: 27.8vw;
  margin-top: -2vw;
}

.copyright{
  margin-left: 50vw;
  margin-top: 2vw;
  p{
    color: white;
  }
}

.hamburger-menu {
  display: none;
  position: relative;
  flex-direction: column;
  cursor: pointer;
  margin-left: 95vw;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #000000;
  margin: 3px 0;
}



@media only screen and (max-width: 700px) {

/*================================This is home start =======================================*/
  body{
    width: 240vw;
  }
  .hamburger-menu{
    display: block;
    margin-left: 220vw;
    /* position: fixed; */
    margin-top: -5vw;
    .bar{
      width: 8vw;
      margin: 2vw;
    }
  }

  .nav ul{
    display: none;
  }

  #navbar{
    width: 233vw;
    /* background-color: red; */
  }
  #navbar img{
    margin-left: 40vw;
    margin-top: 7vw;
    transform: scale(5,5);
  }
  #overview{
    margin-top: 5vw;
    /* background-color: red; */
    min-width: 240vw;
    min-height: 202vh;
  }
  .blue-filter{
    margin-top: 15vw;
    min-width: 240vw;
    min-height: 202vh;
  }
  .text{
    width: 240vw;
    margin-top: 120vw;
    margin-left: 70vw;
    font-size: 15vw;
    
  }
  .text1{
    width: 240vw;
    margin-top: 120vw;
    margin-left: 70vw;
    font-size: 10vw;
  }
/*================================This is home end =======================================*/


/*================================This is Time Line start =======================================*/
  .schedule-page{
    min-width: 240vw;
    min-height: 212vh;
  }
  .left-line{
    margin-top: 12vw;
    margin-left: 10vw;
    height: 0.2vw;
    width: 68vw;
    background: linear-gradient(112deg, rgba(2,0,36,1) 0%, rgba(0,0,0,1) 42%, rgba(127,127,130,1) 100%, rgba(0,0,0,1) 100%, rgba(0,212,255,1) 100%);
  }

  .page-2-header{
    font-size: 10vw;
    margin-top: 8vw;
    margin-left: 5vw;
    margin-right: 2vw;
    /* background-color: red; */
  }

  .right-line{
    margin-top: 12vw;
    margin-left: 2vw;
    height: 0.2vw;
    width: 68vw;
    background: linear-gradient(112deg, rgba(255,255,255,1) 0%, rgba(173,173,173,1) 0%, rgba(0,0,0,1) 50%, rgba(0,0,0,1) 100%, rgba(0,212,255,1) 100%); 
  }
  .timeline{
    /* background-color: red; */
    min-height: 201vh;
    margin-top: 20vw;
  }

  #first-row{
    display: flex;
    margin-top: 5vw;
    gap: 20vw;
    margin-left: 5vw;
    /* transition: margin-right 2s ease-in-out .5; */
    .box{
        min-width: 100vw;
        min-height: 30vw; 
        background-color: #E03434;
        border-radius: 3vw;
        #para{
            margin-top: 10vw;
            text-align: center;
            font-size: 4vh;
            color: white;
        }
    }

    #text2{
        margin-top: 5vw;
        p{
            margin-top: 3vw;
            font-size: 8vw;
        }
    }
  }

  #oval{
    margin-top: 5vw;
    width: 3vw;
    height: 3vw;
    background-color: black;
    border-radius: 50%
  }

  #oval1{
    margin-top: 10vw;
    width: 3vw;
    height: 3vw;
    background-color: black;
    border-radius: 50%
  }

  #line{
    width: 0.8vw;
    height: 75vw;
    background-color: black;
    margin-left: 126.2vw;
    margin-top: -15vw;
  }

  #second-row{
    display: flex;
    margin-top: -0.8vw;
    gap: 10vw;
    margin-left: 62vw;
    .box{
      margin-top: -1vw;
      min-width: 100vw;
      min-height: 30vw;
      margin-left: 0vw; 
      background-color: #E03434;
      border-radius: 3vw;
      p{
        margin-top: 10vw;
        text-align: center;
        font-size: 4vh;
        color: white;
      }
    }
    .text2{
      margin-top: 5vw;
      p{
        margin-top: 3vw;
        font-size: 8vw;
      }
    }
  }
/*================================This is Time Line end =======================================*/

/*================================This is timer start=======================================*/
  #timer-out-box{
    position: relative;
    width: 210vw;
    height: 68vw;
    background-color: black;
    margin-left: 15vw;
    border-radius: 4vw;
    box-shadow: 10px 10px 60px rgb(200, 255, 0);
    .timer-header{
      color: yellow;
      margin-left: 2vw;
      font-size: 10vw;
    }
    #timer{
      gap: 10vw;
    }
  }

  #glass-morphism {
    margin-top: 4vw;
    margin-left: 1vw;
    width: 40vw;
    height: 40vw;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 3vw;
    border: 2px solid rgb(195, 255, 0);
    /* padding: 20px; */
    box-shadow: 0 0 10px rgba(183, 255, 0, 0.1);
    h1{
      font-size: 10vw;
      text-align: center;
      color: white;
    }
    p{
      font-size: 5vw;
      text-align: center;
      margin-top: 5vw;
      color: white;
    }
    .line-timer{
      width: 40vw;
      height: 0.5vw;
      margin-top: -2vw;
      background-color: white;
    }
  }

  #timer-out-box .timer .days-hours, #timer-out-box .timer .min-sec{
    gap: 5vw;
  }
/*================================This is timer end =======================================*/

/*================================This is Themes start =======================================*/
  #themes{
    width: 240vw;
    /* height: 700vh; */
    height: auto;
    .left-line{
      margin-top: 12vw;
      margin-left: 15vw;
      height: 0.2vw;
      width: 68vw;
      background: linear-gradient(112deg, rgba(2,0,36,1) 0%, rgba(0,0,0,1) 42%, rgba(127,127,130,1) 100%, rgba(0,0,0,1) 100%, rgba(0,212,255,1) 100%);
    }
  }

  #page-3-header{
    font-size: 10vw;
    margin-top: 8vw;
    margin-left: 5vw;
    margin-right: 2vw;
    /* background-color: red; */
  }

  #slots-for-themes{
    display: block;
    width: auto;
    height: 340.7vh;
    /* background-color: red; */
    margin-left: 20vw;
  }
  #slots-for-themes2{
    display: block;
    margin-top: -15vw;
    width: auto;
    height: 330.7vh;
    /* background-color: red; */
    margin-left: 20vw;
  }
  #theme-one{
    width: 150vw;
    height: 180vw;
    /* background-color: red; */
    margin-left: 25vw;
    .image-div{
      width: auto;
      height: 70vw;
      background-image: url("https://imgs.search.brave.com/vIUwZAgyYTjAcw8HfyaGltgAApHBzoJaAbyGs0doU6E/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9pbWFn/ZXMudW5zcGxhc2gu/Y29tL3Bob3RvLTE1/NTYzNDE5ODQtNjlj/OTNmNjM2NjE4P3E9/ODAmdz0xMDAwJmF1/dG89Zm9ybWF0JmZp/dD1jcm9wJml4bGli/PXJiLTQuMC4zJml4/aWQ9TTN3eE1qQTNm/REI4TUh4elpXRnlZ/Mmg4T0h4OGRISmhi/bk50YVhOemFXOXVK/VEl3YkdsdVpYeGxi/bnd3Zkh3d2ZIeDhN/QT09");
      background-size: cover;
      background-position: center;
      /* background-color: orange; */
    }
    .text-div{
      width: auto;
      height:100vw;
      background-color: white;
      margin-top: -5vw;
      h3{
        margin-left: 1vw;
        text-align: justify;
        margin-right: 1vw;
        font-size: 8vw;
        padding: 5vw;
      }
    }
  }
  #theme-two{
    width: 150vw;
    height: 180vw;
    /* background-color: red; */
    background: none;
    margin-left: 25vw;
    .image-div{
      width: auto;
      height: 70vw;
      background-image: url("https://imgs.search.brave.com/TxUUuSpiF3jZ3Vzk7HyFb9LlvbHgB_S-Hu4JvQpPocY/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9pbWcu/ZnJlZXBpay5jb20v/cHJlbWl1bS1waG90/by9zdW5zZXQtd2l0/aC1wb3dlci1saW5l/cy1wb3dlci1saW5l/c184Nzg4MDgtMjkx/OC5qcGc_c2l6ZT02/MjYmZXh0PWpwZw");
      background-size: cover;
      background-position: center;
      /* background-color: orange; */
    }
    .text-div{
      width: auto;
      height:100vw;
      background-color: white;
      margin-top: -5vw;
      h3{
        margin-left: 1vw;
        text-align: justify;
        margin-right: 1vw;
        font-size: 8vw;
        padding: 5vw;
      }
    }
  }
  #theme-three{
    width: 150vw;
    height: 180vw;
    /* background-color: red; */
    margin-left: 25vw;

    .image-div{
      width: auto;
      height: 70vw;
      background-image:url("https://imgs.search.brave.com/R3B-ezanX24bcD5kcB-RjqYglpJlE-vCuLeHUdFTSiA/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9pbWcu/ZnJlZXBpay5jb20v/ZnJlZS1waG90by9h/dG9tLXNjaWVuY2Ut/YmlvdGVjaG5vbG9n/eS1ibHVlLW5lb24t/Z3JhcGhpY181Mzg3/Ni0xNjcyOTcuanBn/P3NpemU9NjI2JmV4/dD1qcGc");
      background-size: cover;
      background-position: center;
      /* background-color: orange; */
    }
    .text-div{
      width: auto;
      height:100vw;
      background-color: white;
      margin-top: -5vw;
      h3{
        margin-left: 1vw;
        text-align: justify;
        margin-right: 1vw;
        font-size: 8vw;
        padding: 5vw;
      }
    }
  }
  #theme-four{
    width: 150vw;
    height: 180vw;
    /* background-color: red; */
    background: none;
    margin-left: 25vw;

    .image-div{
      width: auto;
      height: 70vw;
      background-image:url("https://imgs.search.brave.com/mQgGMnFqQsLTICGlytt57kv-BrslihXuc8LndfxY9kU/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS5pc3RvY2twaG90/by5jb20vaWQvMTk1/NzQ1ODUzOS9waG90/by9yZW5ld2FibGUt/ZW5lcmd5LXN5c3Rl/bXMtZW5naW5lZXJp/bmcud2VicD9iPTEm/cz0xNzA2NjdhJnc9/MCZrPTIwJmM9RHZS/ZGlKYlJvTmR3OGtZ/cHdSSVRsaHoxTVMy/aDQ5TEJxRWxycEdl/Z2RxZz0");
      background-position: center;
      /* background-color: orange; */
    }
    .text-div{
      width: auto;
      height:100vw;
      background-color: white;
      margin-top: -5vw;
      h3{
        margin-left: 1vw;
        text-align: justify;
        margin-right: 1vw;
        font-size: 8vw;
        padding: 5vw;
      }
    }
  }
/*================================This is Themes end =======================================*/

/*================================This is prizes start =======================================*/
  #prizes{
    width: 240vw;
    height: 211vh;
    .left-line{
      margin-top: 12vw;
      margin-left: 25vw;
      height: 0.2vw;
      width: 68vw;
      background: linear-gradient(112deg, rgba(2,0,36,1) 0%, rgba(0,0,0,1) 42%, rgba(127,127,130,1) 100%, rgba(0,0,0,1) 100%, rgba(0,212,255,1) 100%);
    }
  }
  #page-3-header{
    font-size: 10vw;
    margin-top: 8vw;
    margin-left: 5vw;
    margin-right: 2vw;
  }
  #this-is-prizes{
    width: auto;
    margin-top: -5vw;
    display: block;
  }
  #glass-morphism1{
    margin-top: 10vw;
    margin-left: 80vw;
    width: 75vw;
    height: 70vw;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 0.7vw;
    border: 0.22vw solid rgba(163, 199, 47, 0);
    /* padding: 20px; */
    box-shadow: 5px 5px 30px rgb(153, 255, 0);
    animation: floater 1.5s infinite;
  
    h1{
      color: black;
      font-size: 8vw;
      text-align: center;
      font-weight: lighter;
    }
    p{
      text-align: center;
      color: black;
      font-size: 8vw;
      margin-top: 8vw;
      font-weight: bolder;
    }
  
  }
  #bottom-prizes{
    margin-top: 2vw;
    display: flex;

    .bottom-prizes-left{
      display: flex;
      margin-left: 10vw;
      margin-top: 3vw;
      .number-4 p{
        margin-top: -3vw;
        font-size: 80vw;
        color: rgb(200, 255, 0);
        text-shadow: 8px 8px 1px rgb(0, 0, 0);;
      }
      .positions p{
        margin-top: 30vw;
        margin-left: 6vw;
        font-size: 8vw;
      }
    }
    
    .bottom-prizes-right{
      margin-left: 10vw;
      margin-top: 30vw;
      font-size: 5vw;
      font-family: cursive;
      span{
        color: rgb(200, 255, 0);
        font-size: 8vw;
        text-shadow: 5px 5px 5px rgb(0, 0, 0);
      }
      
    }
  }
/*================================This is Prizes end =======================================*/

/*================================This is FAQ start =======================================*/
  #faq{
    width: 240vw;
    height: auto;
    background-color: rgb(255, 255, 255);
    padding-bottom: 5vw;
    .this-is-main-name{
      display: flex; 
      gap: 6vw; 
      margin-left: 4vw;
      h1{
        font-size: 10vw;
      }
    }
    .question-bar{
      position: relative;
      width: 180vw;
      height: 15vw;
      background-color: rgba(0, 0, 0, 0.109);
      margin-left: 25vw;
      margin-top: 10vw;
      border-radius: 0.8vw;
      p{
        padding-top:  5vw;
        padding-left: 5vw;
        font-size: 5vw;
      }
    }
    .answer-bar-1{
      position: relative;
      width: 180vw;
      height: 40vw;
      background-color: rgba(0, 0, 0, 0.109);
      margin-left: 25vw;
      margin-top: 0.2vw;
      border-radius: 0.4vw;
      opacity: 1;
      transition: opacity 0.2s ease-in-out;
    
      p{
        padding-top:  5vw;
        padding-left: 5vw;
        font-size: 4.5vw;
        line-height: 6vw;
      }
    }
    .cross-1{
      width: 5vw;
      height: 0.5vw;
      background-color: rgb(0, 0, 0);
      margin-left: 170vw;
      margin-top: -9vw;
      position: relative;
    }
    
    .cross-2{
      width: 5vw;
      height: 0.5vw;
      background-color: rgb(0, 0, 0);
      margin-left: 170vw;
      margin-top: -0.5vw;
      transform: rotate(90deg);
      transition: 0.5s;
    }
  }
/*================================This is FAQ end =======================================*/

/*================================This is footer start =======================================*/
  #footer{
    position: absolute;
    width: 240vw;
    height: 60vh;
    background-color: rgb(35, 35, 35);

    input{
      height: 6vw;
      width: 50vw;
    }
    .input-text::placeholder{
      margin-top: 5vw;
      font-size: 4vw;
    }
    .line-for-input{
      width: 60vw;
    }
    .footer-button{
      width: 20vw;
      height: 8vw;
      font-size: 4vw;
      border-radius: 2vw;
    }
    .line-for-footer-at-the-end{
      margin-top: 8vw;
      width: 190vw;
    }
    .copyright{
      margin-top: 8vw;
      margin-left: 80vw;
      p{
        color: white;
        font-size: 5vw;
      }
    }
  }
/*================================This is footer end =======================================*/
}
